.containerPage {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.topic {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
}
.text {
    font-size: 20px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    padding: 0 10px;
    width:50%;
    margin: auto;
    min-width:500px ;
}
.buttons {
    display:flex;
    justify-content: center ;
    margin-bottom: 20px;
   
}
.btn {
     background-color: #2563eb;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 500;
    transition: 0.3s ease;
}
.btn:hover {
    background-color: #1d4ed8;
    color: white;
}
.text2 {
    font-size: 18px;
    color: rgb(42, 65, 42);
    font-weight: bold;
    width: 131px;
    height: 40px;
    display: flex;
    background-color: lightgreen;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px) {
    .text {
        width: 90%;
        min-width: auto;
    }
}
